/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile xprize
 */

params {
  // Higher abundance requirement.
  min_reads_sample = 10

  // Xprize-specific filter database path.
  blast_filter_db = "db/targets_All_tagged_nr95"

  // Corrected ITS2 database for viridiplantae.
  nonncbi_memtax = "db/COInr_2024Jun_metazoa_memtax1.txt|db/ITS2nr_2024Jun_viridiplantae_memtax2.txt"

  // Species pre-classification with local geographic data.
  metazoa_spc_basics       = "db/metazoa_spec_basics.txt"
  viridiplantae_spc_basics = "db/viridiplantae_spec_basics.txt"
  local_metazoa_gns        = "db/GBIF_iNAturalist_2024Jun_RioNegro_metazoa_gns.txt"
  local_viridiplantae_gns  = "db/GBIF_iNAturalist_2024Jun_RioNegro_viridiplantae_gns.txt"
}
